/* General Navbar Styling */
.navbar {
    position: fixed;
    background-color: #000;
    color: #fff;
    z-index: 1000;
    font-family: 'Arial', sans-serif;
}

/* Left-side Navbar (default for larger screens) */
.navbar {
    width: 250px;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transition: transform 0.3s ease;
}

.navbar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.logo-img {
    max-width: 150px;
    margin-bottom: 10px;
}

.menu-toggle {
    display: none;
    /* Hidden for larger screens */
}

/* Navigation Menu */
.nav-menu {
    width: 100%;
    flex: 1;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-menu ul li {
    margin: 10px 0;
}

.nav-menu a {
    color: #696969;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 0;
    display: block;
    text-align: center;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #FFD700;
}

/* Social Icons */
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: auto;
    width: 100%;
}

.social-icons a {
    color: white;
    font-size: 20px;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
}

#instagram-icon:hover {
    color: #d62976;
}

#facebook-icon:hover {
    color: #007bff;
}

#tiktok-icon:hover {
    color: #00F6EF;
    /* color: linear-gradient(90deg, rgba(0, 246, 239, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(250, 1, 81, 1) 100%); */
}

#yelp-icon:hover {
    color: #FF1A1A;
}

/* Responsive Navbar (for screens <= 1000px) */
@media (max-width: 1000px) {
    .navbar {
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        flex-direction: row;
        align-items: center;
        padding: 10px 20px;
        background-color: #141414;
    }

    .navbar-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 80px;
    }

    .menu-toggle {
        display: block;
        background: none;
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
        padding-top: 10px;
    }

    .nav-menu {
        position: absolute;
        top: 100px;
        left: 0;
        height: 100vh;
        background-color: #141414;
        width: 100%;
        flex-direction: column;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    .nav-menu.open {
        transform: translateX(0);
    }

    .nav-menu ul {
        flex-direction: column;
        align-items: center;
    }

    .logo-img {
        padding-top: 30px;
    }
}